.container {
  padding: clamp(2rem, 4vw, 5rem);

  display: flex;
  flex-direction: column;
}

.title {
  font-size: clamp(2.5rem, 5vw, 5rem);
  font-weight: 600;
  color: var(--title);
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 2rem 0;
  }
}
